body {
    background-color: #183878;
    font-family: 'Poppins', sans-serif;
}

.sidebar .sidebar-content {
    background-color: #39393a;
    color: rgb(224, 55, 55);
}

.stSelectbox label {
    color: rgb(240, 192, 192);
}

.stButton button {
    background-color: #183878;
    color: white;
}
