body {
    background-color: #195ce2;
    font-family: 'Poppins', sans-serif;
}

.sidebar .sidebar-content {
    background-color: #343a40;
    color: rgb(224, 55, 55);
}

.stSelectbox label {
    color: white;
}

.stButton button {
    background-color: #007bff;
    color: white;
}
